* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: azure;
}

.principal {
	display: flex;
	flex-flow: column nowrap;
}

/* C A B E C E R A */

header {
	background: linear-gradient(
			to right,
			hsla(233, 100%, 98%, 0.685),
			hsla(0, 0%, 29%, 0.568)
		),
		url(../Resources/Images/FONDE1.jpg);
	display: flex;
    flex-flow: column nowrap;
    background-size: cover;
}

.menu{
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
}

.logo-img{
    flex: 1 1 auto;;
}

.logo-img img{
    width: 50px;
}

.logo{
    flex: 1 1 auto;
}

.logo img{
    width: 50px;
}

.logo h1{
    font-size: 25px;
    color: white;
}

.nav{
    flex: 5 1 auto;
}

.nav a{
    font-size:20px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: aqua;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
}


section {
	background-color: #000;
}

footer {
	background-color: #000;
}
