/* Configuraciones Globales */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'aqua';
	src: url(../Styles/fonts/aqua.ttf);
}

#fonts {
	font-family: 'aqua', sans-serif;
}

body {
	background-color: rgba(0, 255, 255, 0.924);
}

/* H E A D E R */
header {
	position: relative;
	width: 100%;
	min-height: 750px;
	background-image: url(../Resources/Images/FONDE1.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	animation: pose 28s infinite linear;
	-webkit-animation: pose 60s infinite linear;
}

.container {
	margin-top: 10px;
	padding-top: 10px;
	background-color: #ffffff;
	min-width: 50px;
}

.navbar {
	width: auto;
	height: auto;
}

.navbar img {
	width: 50px;
}

.banner {
	height: 750px;
	background: linear-gradient(
		to right,
		#0921475b,
		rgba(26, 69, 142, 0.4)
	);
}

@keyframes pose{
	0%{
		background-image: url(../Resources/Images/FONDE1.jpg);
	}
	25%{
		background-image: url(../Resources/Images/FONDE1.jpg);
	}
	26%{
		background-image: url(../Resources/Images/FONDE2.jpg);
	}
	50%{
		background-image: url(../Resources/Images/FONDE2.jpg);
	}
	51%{
		background-image: url(../Resources/Images/FONDE3.jpg);
	}
	75%{
		background-image: url(../Resources/Images/FONDE3.jpg);
	}
	76%{
		background-image: url(../Resources/Images/FONDE4.jpg);
	}
	100%{
		background-image: url(../Resources/Images/FONDE4.jpg);
	}
}