* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: azure;
}

.principal {
	display: flex;
	flex-flow: column nowrap;
	padding-top: 55px;
}

/* C A B E C E R A */

header{
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height:80px;
	line-height: 45px;
	background: linear-gradient(
			to right,
			hsla(0, 0%, 100%, 0.753),
			hsla(0, 0%, 40%, 0.753)
		),
		url(../Resources/Images/FONDE1.jpg);

	background-size: cover;
	background-attachment: fixed;
}

#header{
	width: 100%;
	position: fixed;
	top:0;

}

.menu{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.menu .logo{
	display: inline-block;
	margin-right: 1em;
	line-height: 40px;
}

.menu .logo a{
	font-size: 30px;
	text-decoration: none;
	color: white;
	text-align: center;
}

.menu .logo:hover{
	background: rgba(231, 230, 230, 0.753);
	border-radius: 0.1em;
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	-ms-border-radius: 0.1em;
	-o-border-radius: 0.1em;
}

.menu .btn-menu{
	display: none;
	text-decoration: none;
	color: white;
	font-size: 1em;
}

.menu .enlace{
	display: inline-block;
	text-align: right;
}

.menu .enlace a{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 0.5em;
	text-align: center;
	font-size: 15px;
}

.menu .enlace a:hover{
	background: rgba(231, 230, 230, 0.753);
	border-radius: 0.1em;
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	-ms-border-radius: 0.1em;
	-o-border-radius: 0.1em;
}

.menu .enlace i{
	margin-right: 5px;
}

/* EFECTOS */

.headroom{
	transition: transform  .3s ease;
	-webkit-transition: transform  .3s ease;
	-moz-transition: transform  .3s ease;
	-ms-transition: transform  .3s ease;
	-o-transition: transform  .3s ease;
}

.headroom--pinned{
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
}

.headroom--unpinned{
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
}


/* INTRO */

.intro{
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 200px;
	background: #1b262c;
}

/* SECTION */

section{
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height: 1000px;
	background: rgba(5, 103, 168, 0.904);
}

.contenidos{
	display: flex;
	flex-flow: row wrap;
	flex: 2 1 auto;
	width: 50%;
	height: 90%;
	background: blueviolet;
}

article{
	flex: 1 1 auto;
	background: white;
}

aside{
	flex: 1 1 auto;
	align-items: center;
	width: 40%;
	height: 90%;
	background: rgb(83, 3, 3);
}





/* FOOTER */
footer{
	display: flex;
	flex-flow: column nowrap;
	width:100%;
	height: 75px;
	background:rgba(158, 0, 150, 0.678);
}

