<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Añadir registro</title>
        <script src="../engines/addBook.js"></script>
        <link rel="stylesheet" href="./Styles/addBook.css">
    </head>
    <body onload="startCam()">
        <form name="registro" onsubmit="getData()" onreset="addInput()">
            <input type="text" name="titulo" id="titulo" placeholder="titulo" required>
            <input type="text" name="autor" id="autor" placeholder="autor" required>
            <input type="text" name="genero" id="genero" placeholder="genero">
            <input type="number" min="1600" id="anio">
            <input type="text" id="editorial" placeholder="editorial">
            <input type="number" id="cantidad" placeholder="cantidad" oninput="addInput()" min="1" required> 
            
            <div id="ids">
                <!--Aqui se añaden los inputs mediante js-->
            </div>
            
            <div id="cam">
                <!--Aqui se añade la camara mediante js-->
            </div>

            <button type="submit">Registrar</button>
            <button type="reset">limpiar</button>
            </input>
        </form>   
    </body>
</html>