<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../views/Styles/index.css">

    <title>BIBLIOLENS</title>

</head>

<body>

    <header>
        <div class="logo">
            <h1>BIBLIOLENS</h1>
        </div>
        <div class="menu">
            <nav>
                <a href=".index.html">Inicio</a>
                <a href=".Search.html">Búsqueda</a>
                <a href="Explore.html">Explorar</a>
                <a href="Collecction.html">Colecciones</a>
                <a href="Admi.html">Administrador</a>
                <a href="Contact.html">Contacto</a>
            </nav>
        </div>
    </header>

</body>
</html>

